<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType application/wasm .wasm
  AddEncoding gzip .gz
</IfModule>

<IfModule mod_headers.c>
  Header set Content-Encoding gzip
</IfModule>
